
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: beige;
}

.homeFont {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 1000;
  font-size: xx-large;
  color: white;
  text-shadow: 0 0 5px black;
}

.homeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 16%;
  padding: 5px;
}

.homeItem {
  margin: 10px;
}


.topTitle {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 1000;
  font-size: xx-large;
  color: Black;
  padding-left: 100px;
}

.taskRow {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.taskCount {
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bolder;
}

.taskCategory {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10px;
  font-weight: bold;
  background-color:white;
  border-radius: 10px;
  line-height: 40px;
  text-align: center;
  width: 70%;
  margin-left: 50px;
  padding: 5px;
}

.taskContainer {
  width: 90%;
}

.taskItem {
  width: 50%;
  margin-left: 50px;
  padding: 10px;
}

.taskItemList {
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
}

.taskName {
  font-family: Verdana, Geneva, sans-serif;
  justify-content: center;
  font-weight: 100;
  font-size: medium;
  color: Black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.taskBackdrop {
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  margin-top: 10px;
}

.centerTitle {
  font-family: Verdana, Geneva, sans-serif;
  justify-content: center;
  margin-top: 20%;
  font-weight: 1000;
  font-size: xx-large;
  color: Black;
}

.taskContainer {
  margin-left: 10%;
  margin-top: 50px;
}

body.modal-open {
  overflow: hidden;
}

.modal {
  overflow-y:auto;
}

.circleTag {
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  border: 2px solid rgb(46, 89, 209);
  background-color: rgb(11, 238, 200);
}

.menuButton {
  text-align: center;
  width: 80px;
  height: 80px;
  padding: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 25px;
}

.menuItem {
  display: flex;
  align-items: center;
}

.menuTag {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10px;
  font-weight: bold;
  background-color:white;
  border-radius: 10px;
  line-height: 40px;
  text-align: center;
  padding: 5px;
}

.menu {
  position: fixed;
  top: 10%;
  left: 5%;
}

.welcomeText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 30px;
}

.achievementsList {
  margin-top: 50px;
  margin-left: 100px;
}

.achievementItem {
  display: flex;
  flex-direction: row;
}

.achievementRow {
  margin-bottom: 50px;
}

.achievementIcon {
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 10px;
}

.achievementDescription {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10px;
  font-weight: bold;
  background-color:white;
  border-radius: 10px;
  line-height: 40px;
  text-align: center;
  width: 50%;
  margin-left: 50px;
  padding: 5px;
}

.progressBar {
  margin-left: 50px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
